.navbar-brand {
  color: #000;
  font-family: Gilroy;
  font-weight: 700;
}
svg {
  display: block;
  margin: auto;
}
table {
  font-family: gilroy;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#button td input {
  width: 100%;
}

.styled-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: gilroy;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #ececec;
  color: #0f0f0f;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0f0f0f;
}

.column {
  margin-left: auto;
  margin-right: auto;
}

.column h2 {
  margin-top: 20px;
  text-align: center;
  font-family: gilroy;
}
